body {
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #0066cc;
}

p {
    color: #333;
    text-align: left;
}

li {
    text-align: left;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.skills, .social {
    border: 2px solid #0066cc;
    padding: 15px;
    width: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #0066cc;
}

a:hover {
    color: red;
}