body{
    background-image: url("background.jpg");
    background-position-x: right;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
}