body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding: 0;
    background-image: url(bg.gift.jpg)
}
header{
    color: green;
    text-align: center;
    padding: 20px;
}
section{
    color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    color: green;
}
.Menu{
    color: green;
    font-family: Arial, Helvetica, sans-serif;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     border-radius: 8px;
     margin: 20px;
    padding: 20px;    
}
.infor{
    color: chocolate;
}
