body{
    /* Những thuộc tính bắt buộc khi chèn background */
    background-image: url("./img/background.gif");
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.box{
    /* Căn lề trên */
    margin-top: 60px;
    /* Tự động căn lề trái */
    margin-left: auto;
    /* Tự động căn lề phải */
    margin-right: auto; 
    padding: 16px;
    background-color: white;
    width: 22%;
    height: 680px;
    border-radius: 16px;
    border: solid 3px #000000;
}