body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border: solid 1px black;
    font-size: 24px;
    margin-bottom: 16px;
}

ul {
    list-style: none; /* Xoá dấu chấm tròn */
    display: flex; /* Chuyển về hàng ngang */
}

ul li{
    padding: 0 16px;
}

.logo {
    background-color: rgba(0, 0, 0, 0.226);
    width: 10%;
}

.main{
    width: 100%;

}

a{
    text-decoration: none;
    color: black;
}