* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
    color: white;
    padding: 20px;
}

body h1 {
    color: white;
    margin-bottom: 20px;
}

body p {
    color: white;
    margin-top: 20px;
}

.info {
    border: 2px solid white;
    padding: 10px;
    width: fit-content;
    margin-top: 10px;
    list-style: none;
}

.contact {
    margin-top: 10px;
    list-style: none;
}

.contact a {
    display: inline-block;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 10px;
}

.image {
    width: 15%;
    margin-top: 10px;
}